@charset "utf-8";

/** common 
			-------------------------------------------------- */
* {
	/* box-sizing:border-box; */
}
html, body {
	margin: 0px;
	padding: 0px;
	background-color: #f3f2f2;
}

a,
a:hover,
a:active,
a:focus{
	color:#555;
}
.btn:focus {
	outline:none !important;
}
.list {
	list-style:none;
	padding:0;
}
.row {
	margin:0;
}

/* main :: carousel
			 -------------------------------------------------- */
.carousel {
	/* height: 460px; */
}
.catousel img {
	width:100%;
	vertical-align:top;
}

.carousel-inner>.item>img {
	min-width: 100%;
	height: 460px;
}

.carousel-inner .carousel-caption {
	padding-left: 30px;
	padding-right: 30px;
	background-color: rgba(0, 0, 0, 0.5) !important;
}

/** 캐러셀의 반응형 기능 */
@media ( min-width : 768px) {
	.carousel-caption p {
		margin-bottom: 20px;
		font-size: 21px;
		line-height: 1.4;
	}
}

/* header :: menu
			 -------------------------------------------------- */
/** 떠 있는 영역 */
.navbar-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 20;
}

/** 메뉴바 안의 컨테이너 좌우 여백 제거 */
.navbar-wrapper .container {
	padding-left: 0;
	padding-right: 0;
}

/** 메뉴바 자체의 좌우 여백 조절 */
.navbar-wrapper .navbar {
	padding-left: 15px;
	padding-right: 15px; 
	margin-bottom:0;
}


/** modal :: login
			-------------------------------------------------- */
.modal_login_btns .btn {
	width:130px;
	margin:0 4px 4px 0;
	
}
.modal_login_btns .btn-default {
	background-color:#7fcacd;
	border-color:#7fcacd;
	color:#fff;
}
.modal_login_btns .btn-default:hover,
.modal_login_btns .btn-default:active,
.modal_login_btns .btn-default:focus {
	background-color:#4db8bd;
	border-color:#4db8bd;
	color:#fff;
}
.modal_login_btns .btn-info {
	background-color:#287175;
	border-color:#287175;
}
.modal_login_btns .btn-info:hover,
.modal_login_btns .btn-info:active,
.modal_login_btns .btn-info:focus {
	background-color:#184749;
	border-color:#184749;
} 

.navbar-collapse {
	background-color: none !important;
}
.navbar-wrapper .navbar a, 
.footer-wrapper .navbar a {
	color: #fff;
}
.navbar-wrapper .nav>li>a:focus,
.navbar-wrapper .nav>li>a:hover,
.footer-wrapper .nav>li>a:focus,
.footer-wrapper .nav>li>a:hover {
	color:#fff;
  text-decoration: underline;
  background: none;
  outline:none;
}

/** 떠 있는 메뉴바의 반응형 기능 */
@media ( min-width : 768px) {
	.navbar-wrapper {
		margin-top: 0;
	}
	.navbar-wrapper .container {
		padding-left: 15px;
		padding-right: 15px;
	}
	.navbar-wrapper .navbar {
		padding-left: 0;
		padding-right: 0;
	}
	.navbar-wrapper .navbar {
		border-radius: 4px;
	}
	.navbar-wrapper .navbar-right {
		margin-right: 20px !important;
	}
}

/* 상세 내용 영역
			 ------------------------- */
/** hr 태그에 대한 상하 여백 확보 */
.featurette-divider {
	margin: 20px 0;
}

/** 제목 텍스트 모양 */
.featurette-heading {
	font-weight: bold;
	line-height: 1;
	letter-spacing: -1px;
}

/** 페이징 */
.pagination>li>a {
	color:#4db8bd;
}
.pagination>.active>a,
.pagination>.active>a:focus, 
.pagination>.active>a:hover, 
.pagination>.active>span, 
.pagination>.active>span:focus, 
.pagination>.active>span:hover {
	background-color:#4db8bd;
	border-color:#4db8bd;
	color:#fff;
}

/** 상세 내용영역의 반응형 기능 >> 제목의 글자 크기 재설정 */
@media ( min-width : 768px) {
	.featurette-heading {
		font-size: 50px;
	}
}

@media ( min-width : 992px) {
	.featurette-heading {
		margin-top: 120px;
	}
}

/* 푸터 내용 영역
			 ------------------------- */
footer {
	margin:0; padding:0;
	padding:20px 0;
	min-width: 100%;
	background: url('../../images/foot_pattern.gif') repeat 0 0;
}
footer, 
footer a,
footer a:hover,
footer a:active,
footer a:visited,
footer a:focus {
	color:#fff;
}
address {
	clear:both;
	color:#b2e0e2;
	font-size:0.85em;
	line-height:1;
}
.footer-wrapper .article {
	text-align:center;
}
.footer_menu {
	float:none;
}
.footer_menu.nav li {
	float:none;
	display:inline-block;
	border-right:1px solid #aaa;
	margin-left:0;
}
.footer_menu li:last-child {
	border-right:none;
}
.address {
	margin-right: 20px;
}

footer .modal {
	color:#555;
}
footer .modal p {
	padding:20px;
}
footer .modal .btn-warning {
	width:49%;
	margin-right:1%;
}

/** modal 아래에서 위로 */
footer .modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
       -o-transition:      -o-transform .3s ease-out;
          transition:         transform .3s ease-out;
  -webkit-transform: translate(0, 25%);
      -ms-transform: translate(0, 25%);
       -o-transform: translate(0, 25%);
          transform: translate(0, 25%);
}
footer .modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
}

@media (min-width: 768px) {
	.footer_menu.navbar-nav>li>a {
    padding-top: 0px;
    padding-bottom: 0px;
	}
}